.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0px 0px rgba(0,0,0,0.1);
}
.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}
.memo-item{
    position: relative;
    height: 100px;
    width: 100%;
    transition: all 0.5s;
    padding: 10px;

}
.memo-item:hover {
    background: #eee;
}
.memo-item.memo-active {
    background-color: skyblue;
    color:white;
    border:1px deepskyblue;
    box-shadow: 0px 0px 5px 5px gainsboro;
}
.memo-title{
    position: relative;
    height: 100%;
    width: 100%;
    text-decoration: none !important;
}
.edit-title,.edit-title-done {
    display: none;
    position: absolute;
    text-align: center;
    width: 50px;
    right: 50%;
    bottom: 5px;
    transform: translateX(50%);
    cursor: pointer;
}
.edit-title-done {
    display: block !important;
}
.edit-title:hover,.edit-title-done:hover {
    color: #0056b3;
}
.memo-delete {
    display: none;
    position: absolute;
    top: 8px;
    right: 5px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
    font-weight: bolder;
    z-index: 100;
    cursor: pointer;
}

.memo-item:hover .memo-delete  {
    display: block;
}
.memo-item:hover .memo-delete:hover {
    color: red;
}
.memo-item:hover .edit-title{
    display: block;
}
.memo-content {
    width: 100%;
    height: 100%;
}
.memo-content,.memo-content-raw {
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    padding: 5px;
}
.memo-content {
    height: auto !important;
}
.memo-content-hide {
    z-index: -1;
    opacity: 0;
    display: none;
}
.memo-content-show {
    z-index: 100;
    opacity: 1;
}
.memo-editor {
    position: relative;
    z-index: inherit;
    border:none;
    width: 100%;
    min-height: 100%;
    padding: 3px;
}
.memo-edit-btn {
    position: fixed;
    right: 50px;
    top:70px;
    z-index: 1000;
}
.h100 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
}
.memo-container {
    margin-top: auto;
    height: 100%;
}
.row {
    position: relative;
    height: 100%;
}