*:focus {
    outline: none;
    box-sizing: border-box;
}
.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0px 0px rgba(0,0,0,0.1);
    overflow-y: scroll;
}
.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}
.memo-item{
    position: relative;
    height: 100px;
    width: 100%;
    transition: all 0.5s;
    padding: 10px;

}
.memo-item:hover {
    background: #eee;
}
.memo-item.memo-active {
    background-color: skyblue;
    color:white;
    border:1px deepskyblue;
    box-shadow: 0px 0px 5px 5px gainsboro;
}
.memo-title{
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    width: max-content;
    text-decoration: none !important;
    border:none;
    color:gray;
    background: transparent;
    font-size: medium;
    border: 1px solid transparent;
}
.memo-title:hover{
    /* border: 1px solid gray; */
    box-shadow: 0px 0px 5px 5px gainsboro;
}
.memo-item.memo-active .memo-title{
    color: white;
}
.memo-delete {
    display: none;
    position: absolute;
    top: 8px;
    right: 5px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
    font-weight: bolder;
    z-index: 100;
    cursor: pointer;
}

.memo-item:hover .memo-delete  {
    display: block;
}
.memo-item:hover .memo-delete:hover {
    color: red;
}
.memo-item:hover .edit-title{
    display: block;
}
.memo-content {
    width: 100%;
    height: 100%;
}
.memo-content,.memo-content-raw {
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    padding: 5px;
}
.memo-content {
    height: auto !important;
}
.memo-content-hide {
    z-index: -1;
    opacity: 0;
    display: none;
}
.memo-content-show {
    z-index: 100;
    opacity: 1;
}
.memo-editor {
    position: relative;
    z-index: inherit;
    border:none;
    width: 100%;
    min-height: 100%;
    padding: 3px;
}
.memo-btns {
    position: fixed;
    right: 50px;
    top:70px;
    z-index: 1000;
}
.memo-edit-btn,.memo-fullscreen-btn {
    margin-left: 10px;
}
.h100 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
}
.memo-container {
    margin-top: auto;
    height: 100%;
}
.row {
    position: relative;
    height: 100%;
}
.memo-marking {
    background-color: orange;
    box-shadow: 0 0 5px 5px orange !important;
}
.memo-marking-word {
    background-color: orange;
}
.memo-file-drop {
    position: fixed;
    display: none;
    right: 0;
    top: 0;
    width: 600px;
    height: 100%;
    z-index: 100;
    opacity: 0;

}
.memo-file-drop span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #eee;
    font-size:20px;
    font-weight: bolder;
    width: 250px;
    text-align: center;
}
.memo-file-drop-dragenter {
    display: block;
    opacity: 1;
    background-color: rgba(0,0,0,0.2);
    box-shadow:  0 0 5px 5px black !important;
}
main,.sidebar  {
    transition: all 1s;
}
.memo-fullscreen main{
    flex: 0 0 100% !important;
    max-width: 100% !important;
}
.memo-fullscreen .sidebar {
    transform: translatex(-100%);
    
}
/* code */
.react-syntax-highlighter-line-number {
    /* background-color: lightgreen; */
    color:darkorange;
}
pre {
    background-color: lightgoldenrodyellow !important;
}
.token{
    background: none !important;
}